<div>
  <h4 class="mb-3">Expandable Cards</h4>
  <div class="row">
    <div class="accordion col-12" id="accordionExample">
      <div class="card mb-2">
        <div class="card-header bg-white border-0" id="heading1">
          <h5 class="d-inline-block mb-0 mt-2 text-dark font-weight-normal">
            Item Title #1
          </h5>
          <button class="d-inline-block btn btn-link collapsed float-right text-secondary text-decoration-none" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
            <span class="d-none d-sm-inline">More</span><i class="ml-3 pt-1 fa fa-chevron-down"></i>
          </button>
        </div>
        <div id="collapse1" class="collapse" aria-labelledby="heading1" >
          <div class="card-body pt-2">
            <app-form-item></app-form-item>
          </div>
        </div>
      </div>
      <div class="card mb-2">
        <div class="card-header bg-white border-0" id="heading2">
          <h5 class="d-inline-block mb-0 mt-2 text-dark font-weight-normal">
            Item Title #2
          </h5>
          <button class="d-inline-block btn btn-link collapsed float-right text-secondary text-decoration-none" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
            <span class="d-none d-sm-inline">More</span><i class="ml-3 pt-1 fa fa-chevron-down"></i>
          </button>
        </div>
        <div id="collapse2" class="collapse" aria-labelledby="heading2" >
          <div class="card-body pt-2">
            <app-form-item></app-form-item>
          </div>
        </div>
      </div>
      <div class="card mb-2">
        <div class="card-header bg-white border-0" id="heading3">
          <h5 class="d-inline-block mb-0 mt-2 text-dark font-weight-normal">
            Item Title #3
          </h5>
          <button class="d-inline-block btn btn-link collapsed float-right text-secondary text-decoration-none" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
            <span class="d-none d-sm-inline">More</span><i class="ml-3 pt-1 fa fa-chevron-down"></i>
          </button>
        </div>
        <div id="collapse3" class="collapse" aria-labelledby="heading3">
          <div class="card-body pt-2">
            <app-form-item></app-form-item>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="mt-2 col-lg-12">
      <app-highlight-include [highlight]="'app/cards/components/expandable-cards/expandable-cards.component.html#accordionExample'"></app-highlight-include>
    </div>
  </div>
<div id="script1">
  <script>
    (function() {
      var Less = 'Less';
      var More = 'More';
      $('.collapse').collapse({
        toggle: false
      }).on('show.bs.collapse', function() {
        var button = $(this).closest('.card').find('.card-header>button');
        button.find('span').html(Less);
        button.find('i').toggleClass('fa-chevron-up fa-chevron-down');
      }).on('hide.bs.collapse', function() {
        var button = $(this).closest('.card').find('.card-header>button');
        button.find('span').html(More);
        button.find('i').toggleClass('fa-chevron-down fa-chevron-up');
      });
    })();
  </script>
</div>
  <div class="row">
    <div class="mt-2 col-lg-12">
      <app-highlight-include [highlight]="'app/cards/components/expandable-cards/expandable-cards.component.html#script1'"></app-highlight-include>
    </div>
  </div>
</div>

