<form-collapsible>
  <form-header>{{ 'Candidates.ImportAction.Title' | translate }}</form-header>
  <form-body>
      <div class="card-body pl-2 pb-2">
          <ng-container class="row" *ngIf="lastError">
            <div class="alert alert-warning col-12" role="alert">
              <span [translate]="'E' + (lastError.statusCode || 500) + '.title'"></span><br>
              <small *ngIf="lastError.statusCode >= 0" [translate]="'E' + (lastError.statusCode || 500) + '.message'"></small>
              <small *ngIf="lastError.statusCode == null">{{lastError.message}}</small>
            </div>
          </ng-container>
          <div class="row mb-2">
            <div class="col-10">
              <p class="card-text" [translate]="'Candidates.ImportAction.Help'"></p>
            </div>
            <div class="col-2">
              <button class="btn btn-theme" [routerLink]="['.', { outlets:{ modal:'export'} }]">{{'Candidates.ImportAction.Export' | translate}}</button>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-6">
                <ngx-dropzone (change)="onSelect($event)" [multiple]="false" [accept]="'.xlsx,.xls'">
                    <ngx-dropzone-label>{{ 'Candidates.ImportAction.Placeholder' | translate }}</ngx-dropzone-label>
                    <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                        <ngx-dropzone-label class="text-truncate">{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                    </ngx-dropzone-preview>
                </ngx-dropzone>
              </div>
          </div>
          <div class="row mt-2" *ngIf="files && files.length">
            <div class="col-12">
              <ng-container>
                <advanced-form-edit #formComponent [formName]="'CandidateSources/import'"></advanced-form-edit>
              </ng-container>
            </div>
          </div>
          <div class="mt-3">
              <button class="btn btn-theme" type="button" [disabled]="importBtnDisabled"
                (click)="import()" [translate]="'Candidates.ImportAction.Command'"></button>
          </div>
        </div>
  </form-body>
</form-collapsible>
