<div>

  <div class="row">
    <div class="col-12" [ngVar]="{}" #filter="ngVar">
      <app-advanced-table-search #advancedSearch [(filter)]="filter.value" [collapsed]="true" [allowSave]="false" [table]="students">
        <advanced-search>
          <app-advanced-search-form  (filterChange)="advancedSearch.asyncAdvancedSearch()" #search [(filter)]="filter.value"></app-advanced-search-form>
        </advanced-search>
      </app-advanced-table-search>
    </div>
  </div>
  <div class="row">
    <div class="col-12">

    </div>
  </div>
  <div class="row">
    <div class="col-auto mt-4">
      <div class="font-xl text-secondary" *ngIf="recordsTotal > 1">
        <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'Rules.ResultsPlural'"></span>
      </div>
      <div class="font-xl text-secondary" *ngIf="recordsTotal === 1">
        <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'Rules.ResultsSingular'"></span>
      </div>
    </div>
    <div class="pull-right ml-auto mr-3 mt-3">
      <div class="btn-group mr-3" role="group">
        <button type="button" class="btn btn-success btn-lg universis-btn-export">
          <span [translate]="'Students.Export'"></span>
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 mb-4">
      <app-advanced-table [showFooter]="false" (load)="onDataLoad($event)" #students [selectable]="true" [height]="600" >
      </app-advanced-table>
    </div>
  </div>

  <router-modal></router-modal>

</div>
