<div>
  <div class="modal-header" *ngIf="modalTitle">
    <h5 class="modal-title">{{modalTitle | translate}}</h5>
    <button (click)="cancel()" [disabled]="loading"
            type="button" class="close" data-dismiss="modal" aria-label="Cancel">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body pt-0">
    <div class="row" *ngIf="lastError">
      <div class="alert alert-danger col-12" role="alert">
        <span [translate]="'E' + (lastError.statusCode || 500) + '.title'"></span><br>
        <small *ngIf="lastError.statusCode >= 0" [translate]="'E' + (lastError.statusCode || 500) + '.message'"></small>
        <small *ngIf="lastError.statusCode == null">{{lastError.message}}</small>
      </div>
    </div>
    <div class="row d-none">
      <div class="col-12">
        <p [translate]="'Students.Courses.AddCoursesHelp'" ></p>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12">
        <ng-container>
          <ul style="margin-left: -24px" class="nav nav-tabs mb-1" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="courses-tab" data-toggle="tab" href="#courses" role="tab" aria-controls="home" aria-selected="true" [translate]="'StudentCourses.SelectCourses'" ></a>
            </li>
          </ul>
          <div class="tab-content border-0" id="myTabContent">
            <div class="tab-pane fade show active" id="courses" role="tabpanel" aria-labelledby="home-tab">
              <app-select-course [tableConfig]="config" (change)="selectChanges($event)" #selectComponent></app-select-course>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="modal-footer justify-content-end">
    <button [disabled]="okButtonDisabled || !(selectComponent.advancedTable.selected && selectComponent.advancedTable.selected.length > 0) " (click)="ok()"
            type="button" [ngClass]="okButtonClass">
      {{'OK' | translate}}
    </button>
    <button [disabled]="cancelButtonDisabled || loading"
            (click)="cancel()" type="button" [ngClass]="cancelButtonClass" data-dismiss="modal">
      {{'Cancel' | translate}}
    </button>
  </div>
</div>
