<div class="col-12 tab-navbar tab-container">
  <ul class="nav  d-flex">
    <li class=" tab-brand disabled">
      <a class="text-secondary nav-link pl-0 font-lg" [routerLink]="['/instructors/list/currentDepartment']">
        <i class="fa fa-chevron-left pr-1"></i><span [translate]="'Instructors.Title'"></span></a>
    </li>
  </ul>
  <div class="row pt-2 pb-2" *ngIf="model">
    <div class="col-auto">
      <h1 class="my-auto px-0 py-2" *ngIf="model">
        {{model.familyName}} {{model.givenName}}
        <span><i placement="bottom" id="tooltip" [tooltip]="tooltipTemplate"
            class="fa fa-info bg-primary text-light px-2 py-1 ml-3 rounded-circle font-xs align-middle"></i></span></h1>
    </div>
    <div class="col-auto px-2 py-0 ml-auto" *ngIf="model">
      <app-actions-button [edit]="edit" [actions]="actions"></app-actions-button>
    </div>
  </div>
  <div class="row pt-2 pb-2" *ngIf="!model">
    <div class="col-auto">
      <h1 class="text-dark">
        <span [translate]="'Instructors.NewInstructor'"></span></h1>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

<ng-template #tooltipTemplate>
  <div class="font-lg text-gray-600">
    <div class="row m-1">
      <div class="col-md-6 text-left text-dark">
        <span [translate]="'Instructors.RegistrationNumber'"></span>
      </div>
      <div class="col-md-6 text-left">
        <span>{{model.personCode}}</span>
      </div>
    </div>
    <ng-container *ngIf="model.instructorCode != null">
      <div class="row m-1">
        <div class="col-md-6 text-left text-dark">
          <span [translate]="'Instructors.InstituteIdentifier'"></span>
        </div>
        <div class="col-md-6 text-left">
          <span>{{model.instructorCode}}</span>
        </div>
      </div>
    </ng-container>
    <div class="row m-1">
      <div class="col-md-6 text-left text-dark">
        <span [translate]="'Instructors.Category'"></span>
      </div>
      <div class="col-md-6 text-left">
        <span>{{ model.category}}</span>
      </div>
    </div>
    <div class="row m-1">
      <div class="col-md-6 text-left text-dark">
        <span [translate]="'Instructors.Department'"></span>
      </div>
      <div *ngIf="model && model.department" class="col-md-6 text-left">
        <span>{{model.department.name}} </span>
      </div>
    </div>
  </div>
</ng-template>