<ng-container *ngIf="lastError">
  <!--show error-->
  <div class="row mb-2 mt-3 ml-2">
    <div class="alert alert-warning" role="alert">
      <span [translate]="'Forms.PartsFactorsError'"></span><br>
      <small *ngIf="lastError.error && lastError.error.code; else localError">{{lastError.error.code}}</small>
      <ng-template #localError>
        <small>{{lastError}}</small>
      </ng-template>
    </div>
  </div>
</ng-container>
<div *ngIf="groupCourses">
  <div class="card-body ">
    <div>
      <div class="row">
        <h5 [translate]="'StudyPrograms.EditFactors'" class="mr-3 my-auto"></h5>
      </div>
    </div>


    <div id="group-list" class="flex-column">
      <ul class="sis--list-group sis--list-group-header">
        <li class="sis--list-group-item">
          <div class="d-flex justify-content-center align-items-center">
            <div class="sis--list-group-item_lg_column" [translate]="'Courses.titleLabel'"></div>
            <div class="sis--list-group-item_lg_column d-none d-md-block" [translate]="'Courses.DisplayCode'"></div>
            <div class="sis--list-group-item_lg_column d-none d-md-block" [translate]="'Courses.ects'"></div>
            <div class="sis--list-group-item_lg_column" [translate]="'Courses.units'"></div>
            <div class="sis--list-group-item_lg_column" [translate]="'StudyPrograms.GroupPercentage'"></div>
          </div>
        </li>
      </ul>
      <ul class="sis--list-group sis--list-group-body">

        <li class="sis--list-group-item" *ngFor="let groupCourse of groupCourses">
          <div class="d-flex justify-content-center align-items-center list-color">
            <div class="sis--list-group-item_lg_column"><span
              class=" text-dark"> {{groupCourse?.course?.name}}</span></div>
            <div class="sis--list-group-item_lg_column d-none d-md-block"><span
              class=" text-dark">{{groupCourse?.course?.displayCode}}</span></div>
            <div class="sis--list-group-item_lg_column d-none d-md-block"><span
              class="text-dark">{{ groupCourse?.course?.ects}}</span></div>
            <div class="sis--list-group-item_lg_column d-none d-md-block"><span
              class="text-dark">{{ groupCourse?.course?.units}}</span></div>
            <div class="sis--list-group-item_lg_column">
              <input class="form-control bg-white text-center" type="text"
                     (change)="checkIfValid()"
                     [(ngModel)]="groupCourse.programGroupFactor">
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="mb-3 pt-4 text-indigo" [translate]="'StudyPrograms.GroupFactorsInfo'"></div>
</div>
<div class="modal-footer justify-content-end">
  <button [disabled]="okButtonDisabled" (click)="ok()"
          type="button" [ngClass]="okButtonClass" [translate]="'Forms.Submit'">
  </button>
  <button (click)="cancel()" type="button" [ngClass]="cancelButtonClass" data-dismiss="modal">
    {{'Cancel' | translate}}
  </button>
</div>

