<div class="row">
  <div class="col col-12">
    <div class="row">
      <div class="col col-12">
        <form ngForm="search">
          <div class="input-group input-group-lg">
            <input type="text" class="form-control" placeholder="{{'Settings.SearchHelp'| translate }}"
              [(ngModel)]="search" aria-label="Large" aria-describedby="inputGroup-sizing-sm" autofocus
              spellcheck="true" tabindex="0" id="searchSection" name="searchSection">
            <div class="input-group-append">
              <button class="btn btn-light border-0" title="{{'Settings.Clear'}}" type="button">
                <i class="fas fa-backspace text-secondary" (click)="search=null"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col col-12" *ngIf="reportTemplates && reportTemplates.length === 0">
        <div class="w-100 text-center">
          <div>
            <div class="mt-4">
              <div class="icon-circle bg-gray-300 border-gray-100"></div>
            </div>
            <div class="mt-4">
              <h4 class="font-3xl text-dark" [translate]="'Tables.EmptyTableTitle'"></h4>
              <p class="font-lg text-dark" [translate]="'Tables.EmptyTableMessage'"></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-12" *ngIf="reportTemplates && reportTemplates.length > 0">
        <div class="row">
          <div class="col col-12">
            <div class="card" *ngFor="let template of reportTemplates | filterBy: ['description', 'name']: search">
              <div class="card-body">
                <div class="d-flex">
                  <div>
                    <h5 class="card-title">{{ template.name }}</h5>
                    <p class="card-text" *ngIf="template.description">{{ template.description }}</p>
                  </div>
                  <div class="ml-auto pl-4">
                    <button class="btn btn-light pull-right" [translate]="'Statistics.Export'"
                      (click)="handleReportPrint(template.id)"></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #variablesModal>
  <div class="modal-header">
    <h4 class="modal-title" [translate]="'Statistics.ReportPrint'"></h4>
    <button (click)="closeModal()" type="button" class="close" data-dismiss="modal" aria-label="Cancel">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-print-report [reportForm]="reportForm" [selectedReport]="selectedReport" [lastError]="lastError"
      [variablesForm]="formConfig" [parentCommands]="modalButtons$" [formProperties]="formProperties" (formValidity)="onFormValidation($event)" (downloaded)="closeModal()">
    </app-print-report>
    <div class="modal-footer">
      <button type="button" class="btn btn-indigo mx-2 ml-auto" (click)="ok()"
        [translate]="'Reports.PrintButton'" [disabled]="okButtonDisabled"></button>
      <button type="button" class="btn btn-gray-100 mx-2" data-bs-dismiss="modal" (click)="closeModal()"
        [translate]="'Cancel'"></button>
    </div>
  </div>
</ng-template>
